@media screen and (max-width: 767px) {
  .c-header {
    flex-wrap: nowrap;
  }
  .c-header-brand {
    width: 100px;
  }
}

.c-header {
  background: none;
  border-bottom: none;
}

.simplebar-content li >a{
   margin-bottom: 20px
}